* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
}

.content {
  background-color: #fff;
  padding: 20px;
  height: calc(100vh - 100px);
  overflow: hidden;
}

.pageContainer {
  width: 60vw;
  margin: 0 auto;
  height: 100%;
  background-color: #fff;
  padding: 20px;
}

.importentFont {
  color: #ff0000;
}
